<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>!Currency Converter</title>
    <meta name="description" content="Boggle Board Game" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <h1>Convert Currency</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    <!--  -->
    {% if messages %}
    <div class="flashmsg">
      <!--  -->
      {% for category, message in messages %}
      <p class="{{ category }}">{{ message }}</p>
    </div>
    {% endfor %} {% endif %} {% endwith %}
    <!--  -->
    <button id="modalBtn">Currency Abbreviations</button>
    <!--  -->
    <form action="/convert">
      <label for="inMoney">From:</label>
      <input type="text" id="inMoney" name="inMoney" placeholder="ex. USD" />
      <br />
      <label for="outMoney">To:</label>
      <input type="text" id="outMoney" name="outMoney" placeholder="ex. JPY" />
      <br />
      <label for="amount">Amount:</label>
      <input type="text" id="amount" name="amount" placeholder="ex. 100" />
      <br />
      <button>Convert</button>
    </form>

    {% if things %}
    <h2>Result:</h2>

    <div class="result">
      {{things.insym}}{{things.inamt}} &#8658 {{things.symbol}}
      {{things.converted}}
    </div>
    {% endif %}

    <!-- Modal div -->
    <div id="currModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h3>Currency Abbreviations</h3>
        <table>
          <tr>
            <th>Abbv</th>
            <th>Currency Name</th>
          </tr>
          <tr>
            <td>AUD</td>
            <td>Australian Dollar</td>
          </tr>
          <tr>
            <td>BGN</td>
            <td>Bulgarian Lev</td>
          </tr>
          <tr>
            <td>BRL</td>
            <td>Brazilian Real</td>
          </tr>
          <tr>
            <td>CAD</td>
            <td>Canadian Dollar</td>
          </tr>
          <tr>
            <td>CHF</td>
            <td>Swiss Franc</td>
          </tr>
          <tr>
            <td>CNY</td>
            <td>Chinese Yuan Renminbi</td>
          </tr>
          <tr>
            <td>CZK</td>
            <td>Czech Koruna</td>
          </tr>
          <tr>
            <td>DKK</td>
            <td>Danish Krone</td>
          </tr>
          <tr>
            <td>EUR</td>
            <td>Euro</td>
          </tr>
          <tr>
            <td>GBP</td>
            <td>Pound Sterling (United Kingdom)</td>
          </tr>
          <tr>
            <td>HKD</td>
            <td>Hong Kong Dollar</td>
          </tr>
          <tr>
            <td>HRK</td>
            <td>Croatian Kuna</td>
          </tr>
          <tr>
            <td>HUF</td>
            <td>Hungarian Forint</td>
          </tr>
          <tr>
            <td>IDR</td>
            <td>Indonesian Rupiah</td>
          </tr>
          <tr>
            <td>ILS</td>
            <td>New Israeli Sheqel</td>
          </tr>
          <tr>
            <td>INR</td>
            <td>Indian Rupee</td>
          </tr>
          <tr>
            <td>JPY</td>
            <td>Japanese Yen</td>
          </tr>
          <tr>
            <td>KRW</td>
            <td>Korean Won</td>
          </tr>
          <tr>
            <td>MXN</td>
            <td>Mexican Peso</td>
          </tr>
          <tr>
            <td>MYR</td>
            <td>Malaysian Ringgit</td>
          </tr>
          <tr>
            <td>NOK</td>
            <td>Norwegian Krone</td>
          </tr>
          <tr>
            <td>NZD</td>
            <td>New Zealand Dollar</td>
          </tr>
          <tr>
            <td>PHP</td>
            <td>Philippine Peso</td>
          </tr>
          <tr>
            <td>PLN</td>
            <td>Polish Zloty</td>
          </tr>
          <tr>
            <td>RON</td>
            <td>Romanian Leu</td>
          </tr>
          <tr>
            <td>RUB</td>
            <td>Russian Ruble</td>
          </tr>
          <tr>
            <td>SEK</td>
            <td>Swedish Krona</td>
          </tr>
          <tr>
            <td>SGD</td>
            <td>Singapore Dollar</td>
          </tr>
          <tr>
            <td>THB</td>
            <td>Thai Baht</td>
          </tr>
          <tr>
            <td>TRY</td>
            <td>Turkish Lira</td>
          </tr>
          <tr>
            <td>USD</td>
            <td>US Dollar</td>
          </tr>
          <tr>
            <td>ZAR</td>
            <td>South African Rand</td>
          </tr>
        </table>
      </div>
    </div>
    <!--  -->
  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"
  ></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="/static/script.js"></script>
</html>
